20230921_decontamination_step3.csv
20230921_MiSeqrun_occupancy_output_20231030.rds
20230918_decontamination_step3.csv
20230918_MiSeqrun_occupancy_output_20231030.rds
quant_mb_outputs
GraVel.csv
7_mb_estimates_v_truth.Rmd
allometry_N.csv
allometry_mass.csv
